
data/augmented_train
data/test
data/train

.idea
.vscode

src/__pycache__

.venv

src/logs
src/checkpoints

.idea

data
input
output
src/preprocessing/__pycache__/copy_images.cpython-310.pyc
src/preprocessing/__pycache__/kitti_to_coco.cpython-310.pyc
src/preprocessing/__pycache__/merge_coco.cpython-310.pyc
src/preprocessing/__pycache__/normalize_dataset.cpython-310.pyc
src/preprocessing/__pycache__/validate_dataset.cpython-310.pyc

input

src/preprocessing/__pycache__
src/train/__pycache__

wandb
yolov8-kitti
yolov8n.pt

src/config/__pycache__
/__pycache__/

wandb
